<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>pyxterm</title>
<link rel="stylesheet" href="{{static_url('node_modules/xterm/dist/xterm.css') }}" type="text/css" />
<script src="{{ static_url('node_modules/xterm/dist/xterm.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url('node_modules/xterm/dist/addons/fit/fit.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url('terminado.js') }}" type="text/javascript" charset="utf-8"></script>
<script>
window.onload = function() {
    document.getElementById("dummy-screen").setAttribute("style", "display: none");
    var protocol = (window.location.protocol.indexOf("https") === 0) ? "wss" : "ws";
    var ws_url = protocol+"://"+window.location.host+ "{{ws_url_path}}";

    var terminal = make_terminal(document.body, ws_url);;

    window.onresize = function() {
      terminal.term.fit();
      terminal.socket.send(JSON.stringify(["set_size", terminal.term.rows, geom.cols,
                                window.innerHeight, window.innerWidth]));
    };
};
</script>
</head>
<body>
<!-- test size: 25x80 -->
<pre id="dummy-screen" style="visibility:hidden; border: white solid 5px; font-family: &quot;DejaVu Sans Mono&quot;, &quot;Liberation Mono&quot;, monospace; font-size: 11px;">0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
<span id="dummy-screen-rows" style="visibility:hidden;">01234567890123456789012345678901234567890123456789012345678901234567890123456789</span>
</pre>
</body>